/* LIGHT THEME */
[data-bs-theme="light"] {
  /* Your custom variables */
  --primary: #1a5fb4;
  --secondary: #26a69a;
  --background: #8fa8b3;
  --card-bg: #ffffff;
  --text: #0f1720;
  --text-light: #475569;
  --accent: #e74c3c;
  --gold: #f6d32d;
  
  /* overrides */
  --bs-body-bg: var(--background);
  --bs-body-color: var(--text);
  --bs-emphasis-color: var(--text);
  --bs-secondary-color: var(--text-light);
  
  /* Navbar & Footer */
  --bs-navbar-bg: #e2b565; 
  --bs-footer-bg: #ffffff;
}

[data-bs-theme="light"] .form-control,
[data-bs-theme="light"] .form-check-input {
    border-color: #5c6b7a !important;
}

/* DARK THEME */
[data-bs-theme="dark"] {
  --primary: #0d47a1;
  --secondary: #00796b;
  --background: #0d101f;
  --card-bg: #1c1f26;
  --text: #f0f0f0;
  --text-light: #b0b0b0;
  --accent: #c62828;
  --gold: #FFD700;
  
  /* overrides */
  --bs-body-bg: var(--background);
  --bs-body-color: var(--text);
  --bs-emphasis-color: var(--text);
  --bs-secondary-color: var(--text-light);
  
  /* Navbar & Footer */
  --bs-navbar-bg: #1b1e36;
  --bs-footer-bg: #202444;
  
}

/* custom navbar/footer colors */
.navbar {
  background-color: var(--bs-navbar-bg, #212529) !important;
}



footer.bg-dark {
  background-color: var(--bs-footer-bg, #212529) !important;
  color: var(--text) !important;
}

/* Make sure text inside footer inherits color */
footer.bg-dark p,
footer.bg-dark .text-muted {
  color: inherit !important;
}
